{{- $storagetype := getenv "WOPISERVER_STORAGE_TYPE" "local" | strings.ToLower -}}
{{- $allowed := coll.Slice "local" "cs3" -}}
{{- assert "configured storagetype not supported" (has $allowed $storagetype) -}}
[general]
storagetype = {{ $storagetype }}
internalserver = waitress
port = 8880
nonofficetypes = .md .zmd .txt
wopiurl = {{ getenv "WOPISERVER_WOPI_URL" "http://localhost" }}
downloadurl = {{ getenv "WOPISERVER_DOWNLOAD_URL" "http://localhost" }}
tokenvalidity = 86400
wopilockexpiration = 1800
loglevel = {{ getenv "WOPISERVER_LOG_LEVEL" "Error" | strings.Title }}
loghandler = stream
{{- if getenv "WOPISERVER_PROXY_URL" }}

wopiproxy = {{ getenv "WOPISERVER_PROXY_URL" }}
wopiproxysecretfile = /etc/wopi/proxysecret
proxiedappname = {{ getenv "WOPISERVER_PROXY_APP_NAME" "Office365" }}
businessflow = {{ getenv "WOPISERVER_PROXY_BUSINESS_FLOW" "False" | conv.ToBool }}
{{- end }}

[security]
usehttps = no

[bridge]
sslverify = {{ getenv "WOPISERVER_BRIDGE_SSL_VERIFY" "True" | conv.ToBool }}

saveinterval = 200
unlockinterval = 90
disablezip = {{ getenv "WOPISERVER_BRIDGE_DISABLE_ZIP" "False" | conv.ToBool }}

[io]
chunksize = 4194304
recoverypath = /var/spool/wopirecovery
{{- if eq $storagetype "local" }}

[local]
storagehomepath = /var/wopi_local_storage
{{- else if eq $storagetype "cs3" }}

[cs3]
revagateway = {{ getenv "WOPISERVER_CS3_REVA_GATEWAY" }}
authtokenvalidity = 3600
sslverify = {{ getenv "WOPISERVER_CS3_SSL_VERIFY" "True" | conv.ToBool }}
{{- end }}
